@charset "UTF-8"; 


/* Estilo para computador */


header {
    height: 400px;
    width: 100%;
    padding: 0px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}
header > h1 {
    font-size: 6em;
    padding: 10px;
}
header > p {
    font-size: 2em;
}


i#burguer {
    display: none;
}


nav {
    width: 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
nav > a {
    display: inline-block;
    width: 200px;
    margin: 10px;
    padding: 15px;
    margin-right: 18px;
    width: 120px;
    margin: 15px;
    padding: 15px;
}
nav#menu {
    /*display: block;*/
    background-color: var(--cor05);
}


#carrinho-box { /* Configurações do carrinho */
    position: fixed;

    top: 75%;
    right: 20px;
    transform: translateY(-50%); /* centraliza verticalmente */

    width: 280px;
    max-height: 400px;

    background: rgba(0, 0, 0, 0.438);
    color: white;
    padding: 15px;
    border-radius: 10px;

    font-size: 12px;

    display: flex;
    flex-direction: column;
}
#carrinho-box button {
    margin-top: 10px;
    cursor: pointer;
}
#carrinho-itens {
    overflow-y: auto; /* ativa o scroll */
    max-height: 200px; /* limite da área de itens */
    margin-top: 10px;
}