@charset "UTF-8"; 


/* Estilo para computador */


i#burguer {
    display: none;
}


nav#menu {
    display: block;
    background-color: var(--cor05);
}


nav > a {
    display: inline-block;
    width: 200px;
    margin: 10px;
    padding: 15px;
    margin-right: 18px;
}