@charset "UTF-8";


/* 
Celular: até 600px
Tablet: 600px a 768px
Computador: 992px a 1200px
TV: acima de 1200px
*/


@media screen and (min-width: 600px) and (max-width: 768px) {
    h1#principal {
        font-size: 5em;
    }
}